*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 40%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.contenedor__login-register form{
    width: 95%;
    padding: 90px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h1{
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
    color: #004379;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 20px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 15px 45px;
    margin-top: 40px;
    margin-left: 25%;
    border: none;
    font-size: 20px;
    background: #004379;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }

    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}


@media only screen and (min-width:320px) 
and (max-width:768px){
    
.contenedor__todo{
    margin-top: 9%;

    width: 105%;
}

.contenedor__login-register form button{
    margin-left: 12%;
}
}
